@import "theme";

:host() {
  display: contents;
}

:host-context(app-template-a) .active {
  background: $palette-color-one;
  color: $light-color;
}
:host-context(app-template-b) .active {
  background: $dark-color;
  color: $light-color;
}
