@import 'theme';
@import 'fonts';

div{
  background: $dark-color;
  padding: 2rem;
  h1 {
    font-size: $h1-fontsize;
    color: $light-color;
    margin: 0px;
  }

  p {
    font-size: $regular-fontsize;
    color: darken($light-color, 10);
    margin: 0px;
  }
}
